body {
  display: grid;
  grid-template-columns: 310px 3fr;
  grid-template-rows: 180px 6fr;
  height: 100vh;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

/* sidebar */

.sidebar {
  background-color: #d946ef;
  color: white;
  grid-area: 1 / 1 / 3 /2;
  padding: 25px;
  font-size: 25px;
  display: grid;
  grid-template-rows: 65px 270px 180px 5fr;
  gap: 25px;
}

ul {
  list-style: none;
  grid-template-rows: auto;
}

ul, li {
  margin: 0%;
  padding: 0%;
}

li {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.fa-solid {
  width: 40px;
  align-items: center;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
}

h3 {
  font-size: larger;
  margin: 0%;
}

.fa-brands {
  width: 40px;
  font-size: 40px;
}

.options1List, .options2List {
  display: grid;
  gap: 10px;
}

/* header */

header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  padding: 15px 65px;
}

.part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.searchBar {
  font-size: 40px;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

input {
  border-radius: 20px;
  width: 45vw;
  height: 25px;
  background-color: #fae8ff;
}

.fa-magnifying-glass {
  font-size: 30px;
}

.lupa {
  align-items: center;
  width: auto;
  height: auto;
}

.notifications {
  display: flex;
  gap: 25px;
}

.ringbell {
  font-size: 35px;
  display: flex;
  align-items: center;
}

.profPic {
  width: 60px;
  border-radius: 50%;
  border: solid 1px;
  border-color: black;
}

.name {
  font-size: 25px;
  margin: 0%;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
}

.part2 {
  display: flex;
  justify-content: space-between;
}

.greetings {
  display: flex;
}

.profPic2 {
  width: 100px;
}

.Hi-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 40px;
  align-items: center;
}

.but {
  height: 45px;
  width: 100px;
  font-size: 20px;
  background-color: #d946ef;
  border-radius: 25px;
  color: white;
  border-color: #d946ef;
  font-weight: bold;
  cursor: pointer;
}

/* content */

.content {
  background-color: #fae8ff;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.yourprojects {
  grid-column: 1 / 2;
  padding: 25px;
  padding-right: 0%;
  display: grid;
  grid-template-rows: 50px 5fr;
}

.yourprojects p {
  margin: 0%;
  padding: 15px 0px;
  font-size: 20px;
  padding-left: 15px;
}

.YP{
  margin: 0%;
  padding: 15px 0px;
  font-size: 30px;
  padding-left: 15px;
}

.projectsContent {
  display: grid;
  margin: 15px;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
  padding: 0%;
  background-color: white;
  border-radius: 10px;
  height: auto;
  display: grid;
  grid-template-columns: 10px 1fr;
}

.colorBar {
  background-color: #d946ef;
  width: 10px;
  border-radius: 10px 0 0 10px;
}

.projectContent {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0%;
  padding-top: 5px;
}

p .text {
  margin: 0%;
}

.actions {
  margin: 0%;
  display: flex;
  gap: 20px;
  justify-content: right;
  font-size: 25px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.fa-regular {
  cursor: pointer;
}

.fa-regular:hover {
  color: #d946ef;
}

.announcTrending {
  padding-bottom: 25px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.announcements {
  padding: 25px;
  padding-left: 0%;
}

.announ {
  margin: 0%;
  padding: 15px 0px;
  font-size: 30px;
  padding-left: 0px;
}

.infoAnnoun {
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.line {
  border-top: solid gray 1px;
  height: 10px;
}

.trending {
  padding: 0 25px 25px 0;
}

.infoTrend {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eachTeend {
  display: flex;
  gap: 10px;
}

.Trend {
  margin: 0%;
  padding: 15px 0px;
  font-size: 30px;
  padding-left: 0px;
}

.eachTeend > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid black 2px;
  display: flex;
  align-items: center;
}

.textTrend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.textTrend > p {
  margin: 0%;
}